<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AutoRun" value="true" />
    <add key="UrlHose" value="http://priceboard.fpts.com.vn/?s=34*t=aAll" />
    <add key="UrlHnx" value="http://priceboard.fpts.com.vn/?s=34*t=aHNXIndex" />
    <add key="UrlUpcom" value="http://priceboard.fpts.com.vn/?s=34*t=aHNXUpcomIndex" />
    <add key="ApplicationDBConnectionString" value="Data Source=HUNGPV-PC\SQLEXPRESS,1433;Initial Catalog=StockInfo;Persist Security Info=True;User ID=sa;Password=123456"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>