<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="ApplicationDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Url" value="https://www.hsx.vn/Modules/Rsde/Report/Index" />
    <add key="ApplicationDBConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=StockInfo;Integrated Security=true" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>