<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IBI.FileSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="IBI.FileSystem.SettingsPass" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="IBI.FileSystem.Properties.Settings.APIConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=API;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <!--<add name="IBI.FileSystem.Properties.Settings.APIConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=API;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>    
    <add key="Username" value="FileManager" />
    <add key="Password" value="123456" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <IBI.FileSystem.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Remember" serializeAs="String">
        <value />
      </setting>
    </IBI.FileSystem.Properties.Settings>
    <IBI.FileSystem.SettingsPass>
      <setting name="Username" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456</value>
      </setting>
    </IBI.FileSystem.SettingsPass>
  </userSettings>
</configuration>